
// fonts
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  margin: auto;
  font-weight: 400;
  font-family: "Open Sans", "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell",  "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

#root {
  text-align: center;
  // background-color: #282c34;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing:border-box;
}



/* 
.dark-theme {
  background-color: #282c34;
  color: white;
}
*/

h1,
h2,
h3 {
  // text-transform: uppercase;
  text-align: center;
}
.tile-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25em;
  font-weight: 600;
  padding: 4px 0;
}

.disabled {
  background-color: darkgray;
  color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.txt-left {
  text-align: left;
}
.list {
  padding: 2px 16px;
  // padding-bottom: 2px;
  word-wrap: break-word;
}
.tiles {
  margin: 0 1em;
}
main {
  margin: auto;
  flex: 1;

}

nav {
  display: flex;
}
.brand {
  align-self: center;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;

}

footer, nav {
  background: #bb2648;
  color: #eee;
  padding: 1em;
}


.red {
  color: red;
}
.bg-warning {
  background: orangered;
}
.border-warning {
  border-color: orangered;
}
.bg-green {
  background: green;
}
.border-green {
  border-color: green;
}
.warning {
  color: orangered;
}
.green {
  color: green;
}
button {
  border-width: 0;
  border-color: inherit;
  padding: 8px 1em;
  margin: 8px;
  font-size: 1em;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: white;
}

ul {
  list-style: none;
  margin-left: -1em;
  margin-top: -2px;
}
.flex-stretch {
  flex: 1;
}
.indent {
  text-indent: -1em;
}

ol li {
  padding-right: 24px;
  margin-bottom: 3pt;
  word-wrap: normal;
}
summary {
  text-shadow: 1px 1px 0 hsla(0, 0%, 50%, 0.3);
}
@media (min-width: 500px) {
  main {
    width: 500px;
  }
  .tiles {
    margin: 0;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) )
  }
}
@media (min-width: 768px) {
  main {
    width: 768px;

  }
  .tiles {
    margin: 0;
    display: grid;
    grid-gap: 2em;
    // grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  main {
    width: 1024px;
  }
  // .tiles {
  //   grid-template-columns: repeat(4, 1fr);
  // }
}
@media (min-width: 1200px) {
  main {
    width: 1200px;

  }
}
.unbordered-tile {
  text-align: left;
  hyphens: auto;
  padding: 4px 8px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;

}
.tile {
  text-align: left;
  hyphens: auto;
  border: black 2px solid;
  border-radius: 8px;
  padding: 4px 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}
// details {

// }